db.sqlite3
geckodriver.log
virtualenv
__pycache__
*.pyc
.idea/.gitignore
*.idea
idea/misc.xml
idea/modules.xml
idea/vcs.xml
idea
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/python-tdd-book.iml

.env